html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #cbc4c4;
	font-family: arial;
}
.navigation {
	background-color: #bdd3ea;
}

.navigation__item {
	box-sizing: border-box;
	display: inline-block;
	margin: 20px;
	border: 2px solid rgba(37, 39, 40, 0.983);
	border-radius: 5px;
	list-style: none;
	background-color: rgb(47, 51, 51);
}

.navigation__link {
	display: block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial;
	color: #bdd3ea;
	transition: 0.3s;
}

.navigation__link:hover {
	background-color: rgb(186, 151, 151);
}

.main {
	max-width: 1240px;
	margin: 0 auto;
	text-align: center;
}

.header {
	height: 20vh;
	background-image: url(hacker.jpg);
	background-size: cover;
	background-position: center;
}

.header__title {
	line-height: 20vh;
	color: rgb(87, 48, 65);
}

.introduction {
	background-color: rgb(197, 173, 173);
}

.introduction__header {
	padding-top: 50px;
	font-size: 50px;
}

.introduction__content {
	padding: 30px 50px;
	line-height: 150%;
}

section {
	margin: 0px;
	background-color: rgb(181, 144, 144);
}

.section__header {
	padding: 40px;
	background-color: rgb(159, 115, 115);
	color: rgb(87, 48, 65);
}
.article {
	margin: 40px 20px;
}
.article__header {
	font-size: 22px;
}

.article__content {
	line-height: 150%;
}

footer {
	height: 5vh;
	background: black;
	color: aliceblue;
	line-height: 5vh;
	text-align: center;
}
